<div class="container-lg border rounded shadow box px-4 py-4 bg-light">
  <div class="row mb-3">
    <div class="col-12">
      <my-header
        (onClick)="logout()"
        [email]="user.email"
        [role]="users!.roles"
        class="mb-3"
      ></my-header>
    </div>
    <div class="col-12">
      <my-navbar [pages]="pages"></my-navbar>
    </div>
  </div>

  <div class="row m-0 box-content">
    <div class="col-12 px-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
